.padContainer {
	width:600px;
	height:600px;
	border: solid 1px #041D6E;
	margin: 0 auto;
	overflow: hidden;
}
.buttonBar {
	margin:10px auto;
	text-align: center;
}

button {
	margin-right:15px;
	color: white;
	background-color: #041D6E;
	font-weight: bold;
	border: solid 1px #041D6E;
	line-height: 1.5em;
	cursor:pointer;
}